
<section fxLayout="column" fxFlexAlign="stretch">
    <div fxFlexAlign="center" >
      <div>
      <p>Reimbursement Claim Processing application</p>

    </div>
    </div><br>

    <app-bar-chart-display></app-bar-chart-display>
<br>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Reimbursement</mat-card-title>
          <mat-card-subtitle>Online Platform for Reimbursement Claims</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../.././assets/img/reim.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Register and get reimbursed for various cliams like Travel, Food, Medical and many more.
          </p>
        </mat-card-content>
    
      </mat-card>

</section>
