<div fxLayout fxLayoutAlign="right right">
    <mat-form-field fxFlex="40%">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div>
    <h3 style="font-display: right;"> Approved</h3>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column --> 
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.reimbursementClaim.date.substring(0,10)}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Requested By </th>
      <td mat-cell *matCellDef="let element"> {{element.reimbursementClaim.applicationUser.email}} </td>
    </ng-container>
     <!-- Weight Column -->
     <ng-container matColumnDef="reimbursementType">
      <th mat-header-cell *matHeaderCellDef> Reimbursement Type </th>
      <td mat-cell *matCellDef="let element"> {{element.reimbursementClaim.reimbursementType}} </td>
    </ng-container>

    
    <!-- Symbol Column -->
    <ng-container matColumnDef="requestedValue">
      <th mat-header-cell *matHeaderCellDef> Requested Value </th>
      <td mat-cell *matCellDef="let element"> {{element.reimbursementClaim.requestedValue}} </td>
    </ng-container>
     <!-- Name Column -->
     <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> Currency </th>
      <td mat-cell *matCellDef="let element"> {{element.reimbursementClaim.currency}} </td>
    </ng-container>
   
  
     <!-- Name Column -->
     <ng-container matColumnDef="uploadedFilePath">
      <th mat-header-cell *matHeaderCellDef> Receipt Attached </th>
      <td mat-cell *matCellDef="let element"> 
        <tr *ngIf="element.reimbursementClaim.uploadedFilePath">Yes</tr>
        <tr *ngIf="!element.reimbursementClaim.uploadedFilePath">No</tr>
       </td>
    </ng-container>
    <ng-container matColumnDef="approvedBy">
        <th mat-header-cell *matHeaderCellDef> Approved By </th>
        <td mat-cell *matCellDef="let element"> <b>{{element.approvedBy}} </b></td>
      </ng-container>
      <ng-container matColumnDef="approvedAmount">
          <th mat-header-cell *matHeaderCellDef> Approved Amount </th>
          <td mat-cell *matCellDef="let element"><b>{{element.approvedAmount}} </b></td>
        </ng-container>
        <ng-container matColumnDef="internalNotes">
            <th mat-header-cell *matHeaderCellDef> Internal Notes </th>
            <td mat-cell *matCellDef="let element"> <em>{{element.internalNotes}} </em></td>
          </ng-container>
        
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <p *ngIf="!isClaimListEmpty"    style="text-align: center;">
      No Claims avaliable</p>

  
